<% content_for :application do %>
	<a href="/router/index">back</a>
<ul>
	<% @commands.each do |c| %>
		<li>mac: <%= c.mac_address %>
		command : <%= c.command %>
		<% if c.status == 1 %> 
			<span style='color:green'>pushed !</span>
		<% elsif c.status == 2 %>
			<span style='color:red'>error !!!</span>
		<% else%>
			<span style='color:blue'>wait ...</span>
		<% end %>
		 </li>
	<% end %>
</ul>
<% end %>